{:apps [{:name "opencode-test"
         :script "opencode"
         :args ["serve" "--port" 3434]
         :interpreter "/usr/bin/env"
         :out_file "./logs/opencode-out.log"
         :error_file "./logs/opencode-err.log"
         :merge_logs true
         :instances 1

         :autorestart true
         :restart_delay 10000
         :kill_timeout 10000
         :env {:PM2_PROCESS_NAME "opencode"}
         :cwd "./test-data/test-git"}]}
