{:apps [{:name "serena"
         :script "uvx"
         :args ["--from" "git+https://github.com/oraios/serena" "serena" "start-mcp-server" "--transport" "streamable-http" "--port" "9121"]
         :interpreter "/usr/bin/env"
         :out_file "./logs/serena.log"
         :error_file "./logs/serena.log"
         :merge_logs true
         :instances 1
         :autorestart true
         :restart_delay 10000
         :env_file ".env"
         :kill_timeout 10000
         :env {:PM2_PROCESS_NAME "serena"}
         :cwd "."}]}
