{:paths ["src"]

 :deps
 {org.clojure/clojure             {:mvn/version "1.12.0"}
  org.clojure/spec.alpha           {:mvn/version "0.5.238"}
  clj-python/libpython-clj         {:mvn/version "2.025"}
  cheshire/cheshire                {:mvn/version "5.13.0"}
  org.babashka/cli                 {:mvn/version "0.8.67"}
  babashka/fs                      {:mvn/version "0.5.27"}
  clj-http/clj-http                {:mvn/version "3.13.0"}
  org.clojure/data.csv             {:mvn/version "1.1.0"}
  org.tukaani/xz                   {:mvn/version "1.9"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {io.github.cognitect-labs/test-runner
                 {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts   ["-m" "cognitect.test-runner"]
   :exec-fn     cognitect.test-runner.api/test}

  :control-plane
  {:extra-deps {ring/ring-core {:mvn/version "1.12.2"}
               ring/ring-jetty-adapter {:mvn/version "1.12.2"}
               metosin/reitit {:mvn/version "0.7.2"}
               metosin/muuntaja {:mvn/version "0.6.10"}
               ring-cors/ring-cors {:mvn/version "0.1.13"}}
   :main-opts ["-m" "promptbench.control-plane.server"]}}}
