{:apps [{:name "opencode-indexer"
         :script "pnpm"
         :args ["opencode-client"
                "indexer" "start" ]
         :interpreter "/usr/bin/env"
         :out_file "./logs/opencode-indexer-out.log"
         :error_file "./logs/opencode-indexer-err.log"
         :merge_logs true
         :instances 1

         :autorestart true
         :restart_delay 10000
         :kill_timeout 10000
         :env {:PM2_PROCESS_NAME "opencode-indexer"}
         :cwd "."}]}
